In [2]:
import pandas as pd
import numpy as np
import re

In [3]:
from bs4 import BeautifulSoup

In [4]:
import nltk
from nltk.corpus import stopwords
#nltk.download('stopwords')
stopwords = stopwords.words('english')

In [5]:
def clean_txt(raw_txt):
    # Function to clean raw text
    # 1. Remove HTML
    raw_txt = re.sub(r'http\S+', '', raw_txt)
    # 
    # 2. Remove non-letters        
    letters_only = re.sub("[^a-zA-Z]", " ", raw_txt)
    # 4. Convert to lower case, split into individual words
    words = letters_only.lower().split()                             
    stops = set(stopwords)                  
    # 5. Remove stop words
    meaningful_words = [w for w in words if not w in stopwords]   
    #
    # 6. Join the words back into one string separated by space, 
    # and return the result.
    return( " ".join( meaningful_words ))

In [6]:
trump_tweets=pd.read_csv("C://Users//Admin//Documents//handson//Donald Trump 2017.csv", sep=",",encoding='ISO-8859-1')

In [7]:
trump_tweets.head()

,source,text,created_at,retweet_count,favorite_count,is_retweet,id_str
0,Twitter for iPhone,Many reports of peaceful protests by Iranian c...,12-30-2017 03:42:58,60821.0,138901.0,False,9.469497e+17
1,Twitter for iPhone,The Democrats have been told and fully underst...,12-29-2017 13:16:11,35208.0,142106.0,False,9.467316e+17
2,Twitter for iPhone,Why is the United States Post Office which is ...,12-29-2017 13:04:09,27652.0,118765.0,False,9.467285e+17
3,Twitter for iPhone,RT @charliekirk11: Incredible video: @CBS does...,12-29-2017 12:50:17,15548.0,0.0,True,9.467251e+17
4,Twitter for iPhone,RT @charliekirk11: ISIS getting slaughtered: S...,12-29-2017 12:50:00,18726.0,0.0,True,9.467250e+17

In [8]:
trump_tweets = trump_tweets[(trump_tweets['is_retweet'] ==False)]

In [9]:
titles=['source','text','date','retweet count','favorite count','RT','ID']
trump_tweets.columns=titles

In [10]:
trump_tweets['date']=pd.to_datetime(trump_tweets['date'])

In [11]:
print(trump_tweets)

                   source                                               text  \
0      Twitter for iPhone  Many reports of peaceful protests by Iranian c...
1      Twitter for iPhone  The Democrats have been told and fully underst...
2      Twitter for iPhone  Why is the United States Post Office which is ...
7      Twitter for iPhone  While the Fake News loves to talk about my so-...
8      Twitter for iPhone  In the East it could be the COLDEST New Year?s...
9      Twitter for iPhone  Together we are MAKING AMERICA GREAT AGAIN! ht...
14       Twitter for iPad  I've been saying it for a long long time. #NoK...
15     Twitter for iPhone  Caught RED HANDED - very disappointed that Chi...
16     Twitter for iPhone  Retail sales are at record numbers. We?ve got ...
17     Twitter for iPhone  Vanity Fair which looks like it is on its last...
18     Twitter for iPhone  ?Arrests of MS-13 Members Associates Up 83% Un...
19     Twitter for iPhone  ?On 1/20 - the day Trump was inaugurated - an ...
20     Twitter for iPhone  Just left West Palm Beach Fire &amp; Rescue #2...
21     Twitter for iPhone  ?On 1/20 - the day Trump was inaugurated - an ...
22     Twitter for iPhone  All signs are that business is looking really ...
23     Twitter for iPhone  WOW @foxandfrlends  ?Dossier is bogus. Clinton...
24     Twitter for iPhone  Based on the fact that the very unfair and unp...
25     Twitter for iPhone  I hope everyone is having a great Christmas th...
27     Twitter for iPhone         MERRY CHRISTMAS!!! https://t.co/mYtV5GNdLl
28     Twitter for iPhone          MERRY CHRISTMAS!! https://t.co/xa2qxcisVV
29     Twitter for iPhone  People are proud to be saying Merry Christmas ...
30     Twitter for iPhone  The Tax Cut/Reform Bill including Massive Alas...
31     Twitter for iPhone  The Fake News refuses to talk about how Big an...
33     Twitter for iPhone  .@FoxNews-FBI?s Andrew McCabe ?in addition to ...
34     Twitter for iPhone  Remember the Republicans are 5-0 in Congressio...
35     Twitter for iPhone  The Stock Market is setting record after recor...
36     Twitter for iPhone  Wow ?FBI lawyer James Baker reassigned? accord...
37     Twitter for iPhone  FBI Deputy Director Andrew McCabe is racing th...
38     Twitter for iPhone  How can FBI Deputy Director Andrew McCabe the ...
40     Twitter for iPhone  Remember the most hated part of ObamaCare is t...
...                   ...                                                ...
2553  Twitter for Android  ...do the typical political thing and BLAME. T...
2554  Twitter for Android  The Democrats lead by head clown Chuck Schumer...
2555   Twitter Web Client  Jackie Evancho's album sales have skyrocketed ...
2556  Twitter for Android  massive increases of ObamaCare will take place...
2557  Twitter for Android  like the 116% hike in Arizona. Also deductible...
2558  Twitter for Android  Republicans must be careful in that the Dems o...
2559  Twitter for Android  things they did and said (like giving the ques...
2560  Twitter for Android  Somebody hacked the DNC but why did they not h...
2561  Twitter for Android  Thank you to Ford for scrapping a new plant in...
2562  Twitter for Android  @FoxNews: Julian Assange on U.S. media coverag...
2563  Twitter for Android  Julian Assange said "a 14 year old could have ...
2564  Twitter for Android  The "Intelligence" briefing on so-called "Russ...
2565  Twitter for Android  I will be having a general news conference on ...
2566   Twitter for iPhone  Trump is already delivering the jobs he promis...
2567  Twitter for Android  There should be no further releases from Gitmo...
2568   Twitter for iPhone  Instead of driving jobs and wealth away AMERIC...
2569   Twitter for iPhone  @DanScavino: Ford to scrap Mexico plant invest...
2570  Twitter for Android  ........may be their number one act and priori...
2571  Twitter for Android  With all that Congress has to work on do they ...
2572  Twitter for Android  The Democrat Governor.of Minnesota said "The A...
2573  Twitter for Android  People must remember that ObamaCare just doesn...
2574  Twitter for Android  General Motors is sending Mexican made model o...
2575  Twitter for Android  China has been taking out massive amounts of m...
2576  Twitter for Android  North Korea just stated that it is in the fina...
2577  Twitter for Android  I thought and felt I would win big easily over...
2578  Twitter for Android  Various media outlets and pundits say that I t...
2579  Twitter for Android  @CNN just released a book called "Unprecedente...
2580  Twitter for Android  Chicago murder rate is record setting - 4331 s...
2581  Twitter for Android  Well the New Year begins. We will together MAK...
2587   Twitter for iPhone  TO ALL AMERICANS-#HappyNewYear &amp; many bles...

                    date  retweet count  favorite count     RT            ID
0    2017-12-30 03:42:58        60821.0        138901.0  False  9.469497e+17
1    2017-12-29 13:16:11        35208.0        142106.0  False  9.467316e+17
2    2017-12-29 13:04:09        27652.0        118765.0  False  9.467285e+17
7    2017-12-29 12:46:23        23184.0         98172.0  False  9.467241e+17
8    2017-12-29 00:01:47        65929.0        204151.0  False  9.465317e+17
9    2017-12-28 23:14:21        15516.0         67092.0  False  9.465197e+17
14   2017-12-28 19:20:47        26402.0         73657.0  False  9.464609e+17
15   2017-12-28 16:24:08        31963.0        124997.0  False  9.464165e+17
16   2017-12-28 16:18:20        21499.0        108370.0  False  9.464150e+17
17   2017-12-28 15:24:53        14587.0         65832.0  False  9.464016e+17
18   2017-12-28 02:46:30        21183.0         84891.0  False  9.462107e+17
19   2017-12-28 02:09:22        19706.0         68505.0  False  9.462014e+17
20   2017-12-27 23:11:13        18464.0        108614.0  False  9.461565e+17
21   2017-12-27 22:49:30        12128.0         38520.0  False  9.461511e+17
22   2017-12-26 22:17:14        25344.0        130759.0  False  9.457806e+17
23   2017-12-26 13:24:27        35628.0        119478.0  False  9.456465e+17
24   2017-12-26 11:58:42        20656.0        110208.0  False  9.456249e+17
25   2017-12-25 23:33:55        34926.0        199932.0  False  9.454375e+17
27   2017-12-25 13:36:51        49883.0        203792.0  False  9.452872e+17
28   2017-12-25 03:51:52        34038.0        151030.0  False  9.451400e+17
29   2017-12-25 02:56:19        55103.0        232320.0  False  9.451260e+17
30   2017-12-24 20:35:26        23221.0        111414.0  False  9.450302e+17
31   2017-12-24 13:48:11        33220.0        140299.0  False  9.449277e+17
33   2017-12-24 12:25:22        29754.0         99677.0  False  9.449068e+17
34   2017-12-23 22:57:50        16929.0         85348.0  False  9.447036e+17
35   2017-12-23 22:44:45        22728.0        101231.0  False  9.447003e+17
36   2017-12-23 20:32:42        16794.0         66132.0  False  9.446671e+17
37   2017-12-23 20:30:06        20991.0         73110.0  False  9.446664e+17
38   2017-12-23 20:27:05        36175.0        121354.0  False  9.446657e+17
40   2017-12-22 22:11:56        25757.0        121704.0  False  9.443297e+17
...                  ...            ...             ...    ...           ...
2553 2017-01-05 12:01:33        12288.0         51725.0  False  8.169779e+17
2554 2017-01-05 11:57:57        13117.0         53297.0  False  8.169770e+17
2555 2017-01-04 18:52:09        17093.0         79498.0  False  8.167189e+17
2556 2017-01-04 14:26:45        13596.0         54146.0  False  8.166521e+17
2557 2017-01-04 14:01:53        11224.0         46485.0  False  8.166458e+17
2558 2017-01-04 13:55:53        11128.0         46212.0  False  8.166443e+17
2559 2017-01-04 13:31:32        10731.0         46561.0  False  8.166382e+17
2560 2017-01-04 13:27:03        10260.0         42611.0  False  8.166371e+17
2561 2017-01-04 13:19:09        19529.0         86542.0  False  8.166351e+17
2562 2017-01-04 13:10:05        14810.0         42047.0  False  8.166328e+17
2563 2017-01-04 12:22:38        18118.0         61018.0  False  8.166209e+17
2564 2017-01-04 01:14:52        23441.0         80009.0  False  8.164528e+17
2565 2017-01-03 23:58:31        14678.0         57750.0  False  8.164336e+17
2566 2017-01-03 18:44:47        14057.0         53127.0  False  8.163546e+17
2567 2017-01-03 17:20:43        20653.0         82862.0  False  8.163335e+17
2568 2017-01-03 17:00:11        12727.0         54691.0  False  8.163283e+17
2569 2017-01-03 16:44:13        15571.0         52850.0  False  8.163243e+17
2570 2017-01-03 15:07:41         9525.0         42800.0  False  8.163000e+17
2571 2017-01-03 15:03:29        10851.0         43062.0  False  8.162989e+17
2572 2017-01-03 12:51:15        12599.0         53372.0  False  8.162657e+17
2573 2017-01-03 12:46:33        14481.0         58809.0  False  8.162645e+17
2574 2017-01-03 12:30:05        18864.0         73104.0  False  8.162603e+17
2575 2017-01-02 23:47:12        17507.0         64480.0  False  8.160684e+17
2576 2017-01-02 23:05:44        26703.0         92256.0  False  8.160579e+17
2577 2017-01-02 18:44:04        13437.0         62670.0  False  8.159921e+17
2578 2017-01-02 18:37:10         9057.0         47285.0  False  8.159903e+17
2579 2017-01-02 18:32:29         3948.0         13862.0  False  8.159892e+17
2580 2017-01-02 17:31:17        17411.0         63340.0  False  8.159738e+17
2581 2017-01-02 14:40:10        29248.0        124024.0  False  8.159307e+17
2587 2017-01-01 05:00:10        32665.0        126230.0  False  8.154223e+17

[2277 rows x 7 columns]

In [12]:
trump_tweets['text'] = trump_tweets.text.apply(clean_txt)
trump_tweets['Date'] = trump_tweets['date'].apply(lambda x:x.date().strftime('%m/%d/%Y'))

In [13]:
trump_tweets.head()

,source,text,date,retweet count,favorite count,RT,ID,Date
0,Twitter for iPhone,many reports peaceful protests iranian citizen...,2017-12-30 03:42:58,60821.0,138901.0,False,9.469497e+17,12/30/2017
1,Twitter for iPhone,democrats told fully understand daca without d...,2017-12-29 13:16:11,35208.0,142106.0,False,9.467316e+17,12/29/2017
2,Twitter for iPhone,united states post office losing many billions...,2017-12-29 13:04:09,27652.0,118765.0,False,9.467285e+17,12/29/2017
7,Twitter for iPhone,fake news loves talk called low approval ratin...,2017-12-29 12:46:23,23184.0,98172.0,False,9.467241e+17,12/29/2017
8,Twitter for iPhone,east could coldest new year eve record perhaps...,2017-12-29 00:01:47,65929.0,204151.0,False,9.465317e+17,12/29/2017

In [14]:
df_tweets=trump_tweets.loc[:,('source','text','Date')]

In [15]:
df_tweets=df_tweets[df_tweets['Date']>'01/17/2017']

In [16]:
df_tweets.tail()

,source,text,Date
2458,Twitter for Android,wonder today show biased nbc badly compared gl...,01/18/2017
2459,Twitter for Android,bayer ag pledged add u jobs investments meetin...,01/18/2017
2460,Twitter for Android,u nothing trump fake news ask top ceo companie...,01/18/2017
2461,Twitter for Android,totally biased nbcnews went way say big announ...,01/18/2017
2462,Twitter for Android,interviewed ainsleyearhardt foxandfriends enjoy,01/18/2017

In [17]:
approv_rate=pd.read_csv('C://Users//Admin//Documents//handson//processed data.csv')

In [25]:
approv_rate.tail()
print(approv_rate.dtypes)

date                object
approval_date      float64
increase_amount    float64
label                int64
dtype: object

In [28]:
approv_rate['date']=pd.to_datetime(approv_rate['date'])

In [47]:
print(approv_rate.dtypes)

date               datetime64[ns]
approval_date             float64
increase_amount           float64
label                       int64
Date                       object
dtype: object

In [48]:
approv_rate['Date'] = approv_rate['date'].apply(lambda x:x.date().strftime('%m/%d/%Y'))
approv_rate['Date'] = pd.to_datetime(approv_rate['Date'])

In [49]:
approv_rate.head()

        date  approval_date  increase_amount  label       Date
0 2018-11-16       42.45884          0.03883      1 2018-11-16
1 2018-11-15       42.42001          0.40960      2 2018-11-15
2 2018-11-14       42.01041          0.25185      2 2018-11-14
3 2018-11-13       41.75856         -0.04454     -1 2018-11-13
4 2018-11-12       41.80310         -0.36034     -2 2018-11-12

In [50]:
#in this section, I think that what Trump said will only affect his approval rate in 1 one week's time. 
#this is why I subtracted one week from the day which the approval rate is taken

from datetime import timedelta
approv_rate['Date']= approv_rate['Date'] - datetime.timedelta(days=7)

In [51]:
print(approv_rate)

          date  approval_date  increase_amount  label       Date
0   2018-11-16       42.45884          0.03883      1 2018-11-09
1   2018-11-15       42.42001          0.40960      2 2018-11-08
2   2018-11-14       42.01041          0.25185      2 2018-11-07
3   2018-11-13       41.75856         -0.04454     -1 2018-11-06
4   2018-11-12       41.80310         -0.36034     -2 2018-11-05
5   2018-11-11       42.16344          0.00000      0 2018-11-04
6   2018-11-10       42.16344          0.00000      0 2018-11-03
7   2018-11-09       42.16344          0.11510      1 2018-11-02
8   2018-11-08       42.04834          0.08094      1 2018-11-01
9   2018-11-07       41.96740          0.15111      1 2018-10-31
10  2018-11-06       41.81629         -0.04924     -1 2018-10-30
11  2018-11-05       41.86553         -0.36136     -2 2018-10-29
12  2018-11-04       42.22689          0.11793      1 2018-10-28
13  2018-11-02       42.10896          0.11086      1 2018-10-26
14  2018-11-01       41.99810         -0.00698     -1 2018-10-25
15  2018-10-31       42.00508         -0.22252     -2 2018-10-24
16  2018-10-30       42.22760         -0.14620     -1 2018-10-23
17  2018-10-29       42.37380         -0.06701     -1 2018-10-22
18  2018-10-28       42.44081         -0.00545     -1 2018-10-21
19  2018-10-27       42.44626          0.04997      1 2018-10-20
20  2018-10-26       42.39629         -0.36897     -2 2018-10-19
21  2018-10-25       42.76526         -0.03739     -1 2018-10-18
22  2018-10-24       42.80265         -0.27175     -2 2018-10-17
23  2018-10-23       43.07440         -0.03344     -1 2018-10-16
24  2018-10-22       43.10784          0.43494      2 2018-10-15
25  2018-10-21       42.67290          0.41193      2 2018-10-14
26  2018-10-20       42.26097          0.04890      1 2018-10-13
27  2018-10-19       42.21207         -0.38074     -2 2018-10-12
28  2018-10-18       42.59281         -0.02947     -1 2018-10-11
29  2018-10-17       42.62228          0.69048      2 2018-10-10
..         ...            ...              ...    ...        ...
632 2017-02-21       43.66503         -0.17124     -1 2017-02-14
633 2017-02-20       43.83627         -0.26920     -2 2017-02-13
634 2017-02-19       44.10547         -0.20606     -2 2017-02-12
635 2017-02-18       44.31153         -0.15263     -1 2017-02-11
636 2017-02-17       44.46416         -0.11277     -1 2017-02-10
637 2017-02-16       44.57693          0.08412      1 2017-02-09
638 2017-02-15       44.49281          0.02104      1 2017-02-08
639 2017-02-14       44.47177          1.00935      2 2017-02-07
640 2017-02-13       43.46242         -0.84323     -2 2017-02-06
641 2017-02-12       44.30565         -0.11783     -1 2017-02-05
642 2017-02-11       44.42348          0.14192      1 2017-02-04
643 2017-02-10       44.28156         -0.06426     -1 2017-02-03
644 2017-02-09       44.34582         -0.15909     -1 2017-02-02
645 2017-02-08       44.50491         -0.15504     -1 2017-02-01
646 2017-02-07       44.65995          0.23739      2 2017-01-31
647 2017-02-06       44.42256         -0.01486     -1 2017-01-30
648 2017-02-05       44.43742          0.19996      1 2017-01-29
649 2017-02-04       44.23746          0.02405      1 2017-01-28
650 2017-02-03       44.21341         -0.59783     -2 2017-01-27
651 2017-02-02       44.81124          0.01783      1 2017-01-26
652 2017-02-01       44.79341          0.45293      2 2017-01-25
653 2017-01-31       44.34048          0.24145      2 2017-01-24
654 2017-01-30       44.09903         -0.04686     -1 2017-01-23
655 2017-01-29       44.14589          0.27062      2 2017-01-22
656 2017-01-28       43.87527         -0.26059     -2 2017-01-21
657 2017-01-27       44.13586         -0.24012     -2 2017-01-20
658 2017-01-26       44.37598         -3.38899     -2 2017-01-19
659 2017-01-25       47.76497          2.32233      2 2017-01-18
660 2017-01-24       45.44264         -0.02429     -1 2017-01-17
661 2017-01-23       45.46693          0.00000      0 2017-01-16

[662 rows x 5 columns]

In [53]:
approv_rate['Date'] = approv_rate['Date'].apply(lambda x:x.date().strftime('%m/%d/%Y'))

In [54]:
#here, I used a JOIN to join trump_tweets and approv_rate based on the "Date" column
new_df=pd.merge(trump_tweets, approv_rate, on='Date')

In [57]:
print(new_df.head())

               source                                               text  \
0  Twitter for iPhone  many reports peaceful protests iranian citizen...
1  Twitter for iPhone  democrats told fully understand daca without d...
2  Twitter for iPhone  united states post office losing many billions...
3  Twitter for iPhone  fake news loves talk called low approval ratin...
4  Twitter for iPhone  east could coldest new year eve record perhaps...

               date_x  retweet count  favorite count     RT            ID  \
0 2017-12-30 03:42:58        60821.0        138901.0  False  9.469497e+17
1 2017-12-29 13:16:11        35208.0        142106.0  False  9.467316e+17
2 2017-12-29 13:04:09        27652.0        118765.0  False  9.467285e+17
3 2017-12-29 12:46:23        23184.0         98172.0  False  9.467241e+17
4 2017-12-29 00:01:47        65929.0        204151.0  False  9.465317e+17

         Date     date_y  approval_date  increase_amount  label
0  12/30/2017 2018-01-06       38.82547          0.00000      0
1  12/29/2017 2018-01-05       38.82547          0.35219      2
2  12/29/2017 2018-01-05       38.82547          0.35219      2
3  12/29/2017 2018-01-05       38.82547          0.35219      2
4  12/29/2017 2018-01-05       38.82547          0.35219      2

In [58]:
df_ready=new_df.loc[:,('text','Date','label')]

In [59]:
print(df_ready)

                                                   text        Date  label
0     many reports peaceful protests iranian citizen...  12/30/2017      0
1     democrats told fully understand daca without d...  12/29/2017      2
2     united states post office losing many billions...  12/29/2017      2
3     fake news loves talk called low approval ratin...  12/29/2017      2
4     east could coldest new year eve record perhaps...  12/29/2017      2
5                         together making america great  12/28/2017      2
6                            saying long long time noko  12/28/2017      2
7     caught red handed disappointed china allowing ...  12/28/2017      2
8     retail sales record numbers got economy going ...  12/28/2017      2
9     vanity fair looks like last legs bending backw...  12/28/2017      2
10                  arrests ms members associates trump  12/28/2017      2
11    day trump inaugurated estimated isis fighters ...  12/28/2017      2
12    left west palm beach fire amp rescue met great...  12/27/2017      1
13    day trump inaugurated estimated isis fighters ...  12/27/2017      1
14    signs business looking really good next year h...  12/26/2017      2
15    wow foxandfrlends dossier bogus clinton campai...  12/26/2017      2
16    based fact unfair unpopular individual mandate...  12/26/2017      2
17    hope everyone great christmas tomorrow back wo...  12/25/2017      0
18                                      merry christmas  12/25/2017      0
19                                      merry christmas  12/25/2017      0
20    people proud saying merry christmas proud led ...  12/25/2017      0
21    tax cut reform bill including massive alaska d...  12/24/2017      1
22    fake news refuses talk big strong base show fa...  12/24/2017      1
23    foxnews fbi andrew mccabe addition wife gettin...  12/24/2017      1
24    remember republicans congressional races year ...  12/23/2017      1
25    stock market setting record record unemploymen...  12/23/2017      1
26    wow fbi lawyer james baker reassigned accordin...  12/23/2017      1
27    fbi deputy director andrew mccabe racing clock...  12/23/2017      1
28    fbi deputy director andrew mccabe man charge a...  12/23/2017      1
29    remember hated part obamacare individual manda...  12/22/2017     -1
...                                                 ...         ...    ...
2145       join pm lincoln memorial family inauguration  01/19/2017     -2
2146       great concert p today lincoln memorial enjoy  01/19/2017     -2
2147                                   way inauguration  01/19/2017     -2
2148  american people doubt together make america great  01/19/2017     -2
2149  getting ready leave washington c journey begin...  01/19/2017     -2
2150  donald trump divided country country divided l...  01/19/2017     -2
2151  thank amazing wounded warriors service honor t...  01/19/2017     -2
2152  great seeing theleegreenwood kimberly evenings...  01/19/2017     -2
2153  looking forward speedy recovery george barbara...  01/18/2017      2
2154  writing inaugural address winter white house m...  01/18/2017      2
2155  thealabamaband great last night c playing dipl...  01/18/2017      2
2156  wonder today show biased nbc badly compared gl...  01/18/2017      2
2157  bayer ag pledged add u jobs investments meetin...  01/18/2017      2
2158  u nothing trump fake news ask top ceo companie...  01/18/2017      2
2159  totally biased nbcnews went way say big announ...  01/18/2017      2
2160    interviewed ainsleyearhardt foxandfriends enjoy  01/18/2017      2
2161  thank general motors walmart starting big jobs...  01/17/2017     -1
2162                                 trump media missed  01/17/2017     -1
2163  thought would hypocritical attend bush swearin...  01/17/2017     -1
2164  john lewis said inauguration first one missed ...  01/17/2017     -1
2165  country massive cost reductions negotiated mil...  01/17/2017     -1
2166  jobs bringing back u even taking office new au...  01/17/2017     -1
2167  people phony election polls wrong approval rat...  01/17/2017     -1
2168  people pouring washington record numbers biker...  01/17/2017     -1
2169  drgoodspine realdonaldtrump ivanka trump great...  01/17/2017     -1
2170  p cnn places special report daughter ivanka co...  01/17/2017     -1
2171  levisteveholt realdonaldtrump appreciate use t...  01/17/2017     -1
2172  celebrate martin luther king day many wonderfu...  01/16/2017      0
2173  much worse look syria red line crimea ukraine ...  01/16/2017      0
2174  foxnews outgoing cia chief john brennan blasts...  01/16/2017      0

[2175 rows x 3 columns]

In [60]:
df_ready.to_csv('Training Data.csv', sep=',', encoding='utf-8')